<%- include('partials/head.ejs') %> 

<body>

    <%- include('partials/navbar.ejs') %> 


    <h1>Home page <%= 2345+132452 %> </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quia velit corporis, et laboriosam itaque odio optio eum id, quidem blanditiis nulla minus quibusdam debitis! Illo consequatur quas delectus beatae!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed deleniti delectus dolorem, aliquam modi repellendus quasi sapiente et dicta quibusdam vitae nihil ducimus quo illum esse possimus ex iusto dolore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur corporis nemo modi dolorem aliquam excepturi nobis, mollitia atque odit nostrum fuga voluptates unde placeat non quis ea reiciendis, deserunt dolore.
        Exercitationem nemo dolorum sapiente iure tempore nesciunt ipsum tenetur, enim natus accusamus. Quae optio in, labore molestiae temporibus iste aliquid magnam dolores officia, nisi corrupti culpa officiis, excepturi suscipit tempore!
        Quia earum magnam eaque labore porro officia fugit cumque vitae ipsa quae voluptatum deserunt architecto provident dignissimos similique perspiciatis reiciendis, blanditiis aut magni in excepturi illum eius quas placeat! Aperiam!
        Totam facere harum obcaecati asperiores cupiditate cumque corporis quidem, ad labore esse voluptate perspiciatis, neque ipsam amet deserunt omnis exercitationem alias quisquam dolore repellat nisi eum! Eos accusamus a sequi.
        Harum natus commodi quia earum dolorum inventore tempora sapiente facilis corrupti ex! Distinctio earum ipsa aperiam quam blanditiis doloremque ut sint iure harum quas ratione, id consequatur aliquid optio est.
        Ducimus excepturi quam quo ad. Delectus rerum praesentium non a, culpa vero quidem illo veniam magni tempora provident iste id quae ratione, eos aspernatur expedita voluptatum? Fugit repellendus tempora dolorum!
        Expedita unde eum, molestiae, laboriosam earum ipsa cum iusto natus, temporibus eius assumenda dolorem facilis optio cumque aliquid delectus nisi asperiores vero. Atque consequatur odit illo nostrum, quisquam accusantium esse!
        Assumenda saepe provident sunt, dignissimos et iure ipsam cumque itaque, eos molestiae eum doloribus ex aspernatur labore ducimus iusto aut at, obcaecati quis repellendus quia eaque cupiditate odit voluptatibus? Itaque.
        Earum tenetur voluptate facilis culpa minima voluptates eum aspernatur, voluptas quam ducimus ipsa ut maiores adipisci repudiandae, iure cumque, obcaecati quis reprehenderit? Numquam totam laudantium a id ipsum ad error.
        Nulla voluptatum sit est illum atque eligendi facilis ab blanditiis. Earum itaque atque libero in eveniet dolores sed quis eius aliquam ea quasi nemo deserunt, dolorem explicabo nesciunt quas maiores.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat neque, alias quo accusantium possimus voluptates eum quisquam. Sint voluptate asperiores quia doloremque assumenda minus esse ipsa laborum, excepturi, iure voluptatibus?
    Impedit ratione expedita architecto neque magnam sint quos, vel odio minus dicta sequi explicabo incidunt, ipsum unde voluptas assumenda quibusdam, qui officiis velit? Adipisci reprehenderit labore harum saepe ab? Doloremque.
    Doloremque, molestiae, ex porro quasi laborum nemo eos temporibus ab officia hic voluptas culpa rerum laboriosam necessitatibus ipsa ipsam, sed aliquid eum expedita eius deserunt facilis? Ipsa reiciendis aperiam dolores.
    Vitae eos nobis consequatur ut dolore excepturi tenetur recusandae. Beatae dolor molestiae ad deleniti sequi eveniet tempora unde, non exercitationem possimus dignissimos vel voluptates eos asperiores temporibus officiis quae ab.
    Illum fuga dolorum fugit? Perspiciatis ullam ad repudiandae accusamus ipsam dolore nihil dolorum porro eius eveniet deleniti ratione, architecto illo non, incidunt enim delectus ab totam sunt. Delectus, fugit perspiciatis.
    Eius iure ea harum unde, atque recusandae dolorum quaerat similique, expedita consequuntur voluptates explicabo earum aliquid. Odit, suscipit libero. Rerum accusamus reprehenderit magnam, quaerat voluptas nemo dolore tenetur aliquid fugiat.
    Nemo quidem officia hic, aspernatur sequi distinctio reiciendis ipsum fugiat at voluptate, corrupti esse eius tempore. Ratione, in odio. Dicta maxime voluptas cumque nobis qui, alias cum? Sit, tempora autem!
    Veritatis id, qui eum saepe dolor est labore similique dolorum obcaecati aliquam eaque blanditiis non, impedit ad reiciendis unde. Architecto veritatis reprehenderit mollitia dolore dolores, quisquam doloribus aspernatur voluptas inventore!
    Doloremque pariatur magnam perferendis voluptatem et laborum odit est culpa ipsa, ducimus obcaecati facilis consectetur minus blanditiis? Laboriosam, obcaecati quae ut porro voluptates quasi officia cumque reprehenderit corrupti mollitia inventore!
    Molestiae doloremque delectus molestias, officiis aspernatur inventore dolorem vel ad tempora deserunt soluta! Molestias ex voluptate unde ad est eaque nesciunt omnis aliquid aspernatur adipisci. Minima enim dolorem molestias dolores!
    Velit, aliquam est explicabo inventore suscipit maiores porro facilis ratione voluptas cumque, quaerat ab? Voluptas nobis nemo nesciunt ipsum rerum aspernatur doloribus dolore at, eius exercitationem. Maiores ducimus sapiente praesentium.
    Doloribus cupiditate nisi, esse beatae natus inventore nostrum quia quidem quae, dolore porro harum sed aliquid sapiente rem iure minus! Officiis fugiat aspernatur ipsum, quidem delectus quod cumque aperiam facilis.
    Rerum velit culpa delectus est aliquid quia aperiam! Quis porro itaque eum quidem eos debitis molestiae, sit mollitia pariatur minima officia exercitationem quod accusantium voluptates placeat ex. Eaque, voluptates nihil?
    Asperiores, deleniti quisquam ratione odit officiis soluta fugit voluptatibus numquam nulla sapiente quaerat magnam, unde sit obcaecati quis? Minus consequatur officia non quasi perferendis totam quia placeat nisi dolorem culpa.
    Autem qui ex deleniti modi! Labore blanditiis provident sit sequi rerum atque magni repellat odio soluta ullam illo natus ratione et quod officia qui ipsam id, earum impedit cumque. Reiciendis?</p>


    <%- include('partials/foot.ejs') %> 
